* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  width: 85%;
  margin: 0 auto;
}

main,
footer {
  margin-top: 1rem;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.display-none{
  display: none;
}
.display-mobile{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}
.logo-container img {
  width: 12rem;
}

main {
  display: flex;
  flex-flow: column wrap;
  gap: 2rem;
}

.hero-content {
  width: 100%;
}

.hero-content h1 {
  color: #7f0a7d;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

.hero-content p {
  margin: 2rem 0;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
}

.hero-img-container {
  width: 100%;
}
.hero-img-container img {
  margin: 0 auto;
  width: 100%;
}

.btn{
  width: 100%;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  border: none;
  cursor: pointer;
  background: #7f56d9;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 24px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  border-top: 1px solid #d0d5dd;
  text-align: center;
  padding: 1rem;
}

footer img{
  width: 48px;
  height: 48px;
}

@media only screen and (min-width: 768px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
  }
  .display-none{
    display: block;
  }
  .display-mobile{
    display: none;
  }
  main {
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
  }
  .hero-content {
    width: 50%;
  }
  .hero-img-container {
    width: 30%;
  }

  .hero-content h1,
  .hero-content h2,
  .hero-content p {
    text-align: left;
  }

  .btn{
    width: 50%;
  }
}
